<div *ngIf="userData">
    <div class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover">
      <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
        <!-- Main Col -->
        <div id="profile"
          class="w-full lg:w-4/5 rounded-lg lg:rounded-l-lg lg:rounded-r-lg  bg-white  mx-6 lg:mx-0">
  
          <div class="p-4 md:p-12 text-center lg:text-left">
            <div class="w-full lg:w-2/5 flex justify-center items-center mb-4">
              <img [src]="userData.img" class="rounded-none lg:rounded-lg shadow-2xl block lg:hidden h-48 w-auto mb-4">
              <img [src]="userData.img" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block h-auto w-48 mb-4">
            </div>
            <h1 class="text-3xl font-bold pt-8 lg:pt-0">Edit User</h1>
            <p>Username: <input type="text" [(ngModel)]="userData.username" class="input-field"></p>
            <p>Name: <input type="text" [(ngModel)]="userData.name" class="input-field"></p>
            <p>Email: <input type="text" [(ngModel)]="userData.email" class="input-field"></p>
            <p>Born Date: <input type="text" [(ngModel)]="userData.born_date" class="input-field"></p>
            <p>Area: <input type="text" [(ngModel)]="userData.area" class="input-field"></p><br>
            <button (click)="saveChanges()"
                class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full">
                Save
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  